# GNU Affero General Public License v3.0 or later (see COPYING or https://www.gnu.org/licenses/agpl.txt)
# Build and prune images using Buildah and GitHub Container Registry API.

name: Buildah Image CI
on:
  workflow_call:
    inputs:
      IMAGE_NAME:
        required: true
        type: string
      IMAGE_FILE:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Create the date tag
      id: date_tag
      shell: bash
      run: echo "DATE_TAG=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
    - name: Authenticate to the registry
      id: registry_auth
      shell: bash
      run: echo "${{ secrets.REGISTRY_AUTH_TOKEN }}" | buildah login ghcr.io -u ${{ github.actor }} --password-stdin
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Build the container image
      id: build_image
      shell: bash
      run: |
        buildah build \
        --squash=true \
        --platform=linux/amd64 \
        --file ${{ inputs.IMAGE_FILE }} \
        --tag ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:${{ env.DATE_TAG }} \
        --tag ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:latest
    - name: Push the container image
      id: push_image
      shell: bash
      run: |
        buildah push \
        --format oci \
        ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:${{ env.DATE_TAG }}

        buildah push \
        --format oci \
        ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:latest
  scan:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Scan Container Image (trivy)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM'
      - name: Scan Container Image (grype)
        uses: anchore/scan-action@v7.2.2
        with:
          image: ghcr.io/${{ github.repository }}/${{ inputs.IMAGE_NAME }}:latest
  prune:
    needs: scan
    runs-on: ubuntu-latest
    steps:
      - name: Prune all but the most recent 3 images
        run: |
          IMAGES_URL=$(
            curl -Ls \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.REGISTRY_AUTH_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              --url "https://api.github.com/user/packages?package_type=container" \
            | jq --arg IMAGE_NAME ${{ inputs.IMAGE_NAME }} -r '.[] | select(.url | test($IMAGE_NAME)) | .url'
          )

          echo "URL: ${IMAGES_URL}"
          sleep 3

          IMAGES_LIST=$(
            curl -Ls \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.REGISTRY_AUTH_TOKEN }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              --url "${IMAGES_URL}/versions" \
            | jq -r -s '.[] | sort_by(.created_at) | reverse | .[3:] | .[].url'
          )

          sleep 3
          if [[ -n ${IMAGES_LIST} ]]; then
            while read -r IMAGE; do
              echo "Deleting: ${IMAGE}"
              curl -Ls \
                -X DELETE \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.REGISTRY_AUTH_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                --url "${IMAGE}"
              sleep 3
            done <<< "${IMAGES_LIST}"
          fi
